{% extends 'main/layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
   <div class="features">
      <h1>{{ title }}</h1>
      <p>Оставить свои предложения Вы можете :</p>
      <br>
      <a href="mailto:anastasiasharapova1994@gmail.com" class="btn btn-warning">email</a>
      <br>
      <p>А так же связаться с нами в соцсетях :</p>
      <a href="https://t.me/Anastas1a_Sharapova" class="btn btn-info">Telegram </a>
      <a href="https://www.linkedin.com/in/anastasia-sharapova-14731323a/" class="btn btn-info">LinkeDin </a>






   </div>
{% endblock %}